<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<form action="/customers/save" th:object="${customer}" method="post">
    <td><input  type="hidden" th:field="*{id}"/></td>
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select th:field="*{gender.id}">
                    <option th:each="p : ${gender}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>

            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>